@font-face {
  font-family: 'Cinzel';
  src: url('../fonts/Cinzel-Bold.ttf') format('opentype');
  fontweight: normal;
  font-style: normal;}

  @font-face {
    font-family: 'MavenPro';
    src: url('../fonts/MavenPro-Regular.ttf') format('opentype');
    fontweight: normal;
    font-style: normal;}
